# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production

# misc
.DS_Store
.vscode
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules
yarn.lock

# tmp files
*.un~
*.swp
*.swo

# grafana
/apps/ingest-service/grafana-12.3.2

# logs
Logs*

# 大文件
*.tar.gz
clickhouse
